            * {
                margin: 0;
                font-family: 'Open Sans', sans-serif
            }
            
            .header-content {
                color: #fff8f3;
                background-image: url(../images/header_bg.png), url(../images/developer.png);
                background-repeat: no-repeat;
                background-position: BOTTOM right, left
            }
            
            nav {
                color: #000;
                display: flex;
                justify-content: space-between;
                margin: 60px 200px
            }
            
            nav ul {
                display: flex;
                align-items: center
            }
            
            nav li {
                list-style: none;
                margin: 10px
            }
            
            .nav-title {
                color: #000;
                margin: 10px;
                font: size 45px;
                font-weight: 800
            }
            
            .text-primary {
                color: #fd6e0a
            }
            
            .primary {
                color: #fd6e0a;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin: 10px;
                border-color: orange;
                padding: 10px 40px
            }
            
            .btn-primary {
                color: #fff8f3;
                font-weight: 700;
                font-size: 20px;
                height: 64px;
                border-radius: 5px;
                background-color: #fd6e0a;
                border: 0;
                padding: 10px 25px
            }
            
            .banner {
                margin: 0 200px;
                display: flex;
                align-items: center
            }
            
            .banner-title {
                color: #000;
                font-weight: 700;
                font-size: 85px;
                margin-bottom: 20px
            }
            
            .banner-sub-title {
                color: #000;
                font-weight: 600;
                font-size: 45px
            }
            
            .banner-description {
                color: #757575;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 30px
            }
            
            .main {
                max-width: 11140px;
                margin: 0 auto
            }
            
            .about-me {
                text-align: center;
                margin-top: 130px;
                background-color: #fff8f3;
                border-radius: 10px;
                padding: 130px;
            }
            
            .section-title {
                font-weight: 700;
                font: size 35px;
                margin-bottom: 30px;
            }
            
            .section-description {
                color: #757575;
                font-size: 18px;
                margin-bottom: 30px;
            }
            
            .about-info-container {
                display: flex;
                justify-content: space-around;
            }
            
            .about-info .info-title {
                font-size: 20px;
                color: #757575;
            }
            /* what i do */
            
            .what-i-do {
                text-align: center;
                margin-top: 50px;
                border-radius: 10px;
                padding: 100px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            
            .section-title {
                margin-top: 50px;
                font-size: 50px;
                font-weight: 700;
            }
            
            .section-description {
                color: #757575;
            }
            
            .skill-container {
                display: flex;
                margin-top: 20px;
                gap: 24px;
            }
            
            .skill {
                background-color: #ffffff;
                box-shadow: 0px 6px 50px #757575;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: 30px;
            }
            
            .skill-title {
                font-size: 20px;
                font-weight: 700;
                margin: 10px;
            }
            
            .skill-description {
                color: #757575;
            }
            /* resume style */
            
            .resume-title {
                text-align: center;
                margin-bottom: 30px;
                margin-top: 10px;
                font-size: 20px;
                font-weight: 700;
            }
            
            .resume-content {
                display: flex;
                text-align: center;
                gap: 24px;
            }
            
            .resume .title {
                color: #474747;
            }
            
            .resume .sub-title {
                color: #757575;
                font-weight: 600;
                font-size: 20px;
            }
            
            .resume .description {
                color: #757575;
            }
            
            .resume-item {
                margin-bottom: 30px;
                margin-top: 30px;
            }
            
            .resume-button {
                margin-top: 50px;
                text-align: center;
                margin-bottom: 30px;
            }
            /* contact section */
            
            .contact {
                display: flex;
                gap: 100px;
                background-color: #fff8f3;
                padding: 130px 200px;
            }
            
            .contact .section-title {
                text-align: left;
            }
            
            .contact input[type="text"],
            input[type="email"],
            textarea {
                margin-bottom: 24px;
                border: 0;
                width: 100%;
                padding: 18px 30px;
            }
            
            input {
                height: 64px;
            }
            
            .contact a {
                text-decoration: none;
            }
            
            .section-descripsion {
                padding-bottom: 10px;
            }